DataLink -: https://drive.google.com/file/d/1MRpw9qRtUewILQyTOvNKuZbkN3R45dGY/view?usp=sharing

### Exploratory Data Analysis

- What is the avg age of the employees
- What is the Median Age of the employees in the organization
- what is the avg age of the employees working in Accounts department
- What is the avg age are of the employees working in Hr department
- What is the max & min age of the employees in the orangization
- What is the avg age of the employees working in SDE department in USA
- What is the avg age of the employees working in Admin department in Canada
- What is the name of most senior employee with respect to age?
- What is the name of the most senior employee with respect to working duration?
- What is the salary of the employee whose name is Maria Williams
- What is the salary of the employee whose Virginia Hogan	and age is 30
- What are the different departments, this organization has?
- What are total frequency of the employees with respect to each department?
- What percentage of employee work in SDE deparment
- What is the average rating of an employee with respect to each department
- what is the average salary of an employee with respect to each country
- What is the average salary of SDE profile with respect to each country
- What is the average salary of the employee who take taken the loan
- What are the top 5 domain name used in Employee email id's

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('Employees.csv')
df.head()

,Id,Name,Age,Base Pay,OverTime Pay,Benefits,Total Pay benefits,Loan,Department,Duration,Rating,Email,State,Country
0,1,Marcia Stephens,22,120000,60000.0,15000.0,195000.0,No,SDE,7,8.2,['marcia.stephens@reddit.com'],colarado,USA
1,2,Karen Lopez,22,120000,60000.0,15000.0,195000.0,No,SDE-T,6,9.3,['karen.lopez@gmail.com'],taxes,USA
2,3,Heather Reilly,22,60000,30000.0,7500.0,97500.0,No,SDE,5,6.6,['heather.reilly@hotmail.com'],NewBrunswick,Canada
3,4,Cindy Leblanc,32,70000,35000.0,8750.0,113750.0,No,Admin,1,8.0,['cindy.leblanc@hotmail.com'],colarado,USA
4,5,Colin Richardson,22,120000,60000.0,15000.0,195000.0,Yes,SDE,3,5.7,['colin.richardson@yahoo.com'],altai,Russia

In [3]:
df.shape

(1000, 14)

1. What is the avg age of the employees

In [4]:
df['Age'].mean()

31.836

2. What is the Median Age of the employees in the organization

In [5]:
df['Age'].median()

30.0

3. what is the avg age of the employees working in Accounts department

In [6]:
df.groupby('Department').get_group('Accounts')['Age'].mean()

31.23076923076923

4. What is the avg age are of the employees working in Hr department

In [7]:
df.groupby('Department').get_group('Hr')['Age'].mean()

31.28846153846154

5. What is the max & min age of the employees in the orangization

In [8]:
print('minimum age=',df.Age.min())
print('maximum age=',df.Age.max())

minimum age= 22
maximum age= 55

6. What is the avg age of the employees working in SDE department in USA

In [9]:
df.groupby('Department').size()

Department
Accounts      65
Admin         53
Hr            52
Logistics    158
SDE          497
SDE-T        175
dtype: int64

In [10]:
df.groupby('Department').get_group('SDE')['Age'].mean()

31.613682092555333

7. What is the avg age of the employees working in Admin department in Canada

In [11]:
df.groupby(['Department','Country']).size()

Department  Country
Accounts    Canada             17
            Russia             14
            USA                21
            United Kingdom     13
Admin       Canada             11
            Russia             17
            USA                15
            United Kingdom     10
Hr          Canada             12
            Russia             17
            USA                13
            United Kingdom     10
Logistics   Canada             37
            Russia             39
            USA                42
            United Kingdom     40
SDE         Canada            123
            Russia            119
            USA               132
            United Kingdom    123
SDE-T       Canada             49
            Russia             39
            USA                51
            United Kingdom     36
dtype: int64

In [12]:
df.groupby(['Department','Country']).get_group(('Admin','Canada'))['Age'].mean()

32.18181818181818

8. What is the name of most senior employee with respect to age?

In [24]:
df.groupby('Age')['Name'].size()

Age
22    333
27    107
30    105
32     99
37    109
40     74
43     67
48     28
50     41
55     37
Name: Name, dtype: int64

In [88]:
df.groupby('Age')['Name'].get_group(df['Age'].max())

15           Megan Chambers
35              Erik Sutton
42           Michael Cooper
97             Frank Taylor
124         Harold Johnston
132           Audrey Barber
173          Kayla Franklin
186          Crystal Bryant
204          Denise Manning
213              Mark Hardy
239       Dr. Ryan Mitchell
290               Dawn Vega
320          Benjamin Brown
353    Mr. Nathan Underwood
387            Nathan Brown
419           Jessica Miles
457             Jamie Moody
466              Megan Rowe
468            Ashley Lopez
490            Danny Franco
527           Larry Shepard
561              John Smith
678           Aaron Douglas
688           Joseph Spears
696          Anthony Barnes
711           Hannah Forbes
715             Lauren York
729             Kara Murphy
741             Robert Ball
759         Charlotte Ramos
772             Austin Cook
889            Wendy Norton
922            Taylor Garza
940             Karen White
989             Karen Lucas
990            Patrick Lane
991       Elizabeth Wheeler
Name: Name, dtype: object

In [18]:
# filterr = df['Name'].where(df['Age']==df['Age'].max())
# filterr
# df[df['Name']==filterr]

,Id,Name,Age,Base Pay,OverTime Pay,Benefits,Total Pay benefits,Loan,Department,Duration,Rating,Email,State,Country
15,16,Megan Chambers,55,80000,40000.0,10000.0,130000.0,No,SDE,2,5.7,['megan.chambers@reddit.com'],Alberta,Canada
35,36,Erik Sutton,55,110000,55000.0,13750.0,178750.0,No,SDE-T,7,9.3,['erik.sutton@hotmail.com'],NewBrunswick,Canada
42,43,Michael Cooper,55,120000,60000.0,15000.0,195000.0,Yes,SDE,6,5.0,['michael.cooper@outlook.com'],buryatia,Russia
97,98,Frank Taylor,55,96000,48000.0,12000.0,156000.0,No,SDE,7,8.9,['frank.taylor@yahoo.com'],adygea,Russia
124,125,Harold Johnston,55,120000,60000.0,15000.0,195000.0,No,SDE,3,8.0,['harold.johnston@outlook.com'],chechnya,Russia
132,133,Audrey Barber,55,120000,60000.0,15000.0,195000.0,No,Admin,3,9.3,['audrey.barber@reddit.com'],birmingham,United Kingdom
173,174,Kayla Franklin,55,110000,55000.0,13750.0,178750.0,No,Accounts,6,7.4,['kayla.franklin@gmail.com'],buryatia,Russia
186,187,Crystal Bryant,55,80000,40000.0,10000.0,130000.0,Yes,SDE-T,4,7.4,['crystal.bryant@yahoo.com'],landom,United Kingdom
204,205,Denise Manning,55,110000,55000.0,13750.0,178750.0,No,Hr,1,8.2,['denise.manning@reddit.com'],chechnya,Russia
213,214,Mark Hardy,55,120000,60000.0,15000.0,195000.0,No,SDE-T,5,9.3,['mark.hardy@hotmail.com'],indiana,USA
239,240,Dr. Ryan Mitchell,55,120000,60000.0,15000.0,195000.0,Yes,SDE-T,2,9.3,['dr..mitchell@hotmail.com'],adygea,Russia
290,291,Dawn Vega,55,110000,55000.0,13750.0,178750.0,Yes,Hr,7,8.2,['dawn.vega@yahoo.com'],colarado,USA
320,321,Benjamin Brown,55,90000,45000.0,11250.0,146250.0,Yes,SDE,4,6.6,['benjamin.brown@hotmail.com'],indiana,USA
353,354,Mr. Nathan Underwood,55,80000,40000.0,10000.0,130000.0,Yes,SDE,2,9.3,['mr..underwood@reddit.com'],indiana,USA
387,388,Nathan Brown,55,120000,60000.0,15000.0,195000.0,No,SDE-T,5,5.7,['nathan.brown@hotmail.com'],leeds,United Kingdom
419,420,Jessica Miles,55,50000,25000.0,6250.0,81250.0,No,SDE,3,8.0,['jessica.miles@outlook.com'],utah,USA
457,458,Jamie Moody,55,120000,60000.0,15000.0,195000.0,Yes,SDE-T,3,7.4,['jamie.moody@gmail.com'],taxes,USA
466,467,Megan Rowe,55,80000,40000.0,10000.0,130000.0,No,SDE-T,3,8.2,['megan.rowe@gmail.com'],Alberta,Canada
468,469,Ashley Lopez,55,120000,60000.0,15000.0,195000.0,Yes,SDE,2,5.0,['ashley.lopez@gmail.com'],glassgorw,United Kingdom
490,491,Danny Franco,55,120000,60000.0,15000.0,195000.0,No,Logistics,6,9.3,['danny.franco@yahoo.com'],landom,United Kingdom
527,528,Larry Shepard,55,110000,55000.0,13750.0,178750.0,No,Admin,4,6.6,['larry.shepard@yahoo.com'],Quebec,Canada
561,562,John Smith,55,90000,45000.0,11250.0,146250.0,No,Logistics,6,6.6,['john.smith@outlook.com'],birmingham,United Kingdom
678,679,Aaron Douglas,55,80000,40000.0,10000.0,130000.0,Yes,SDE,4,9.3,['aaron.douglas@yahoo.com'],landom,United Kingdom
688,689,Joseph Spears,55,120000,60000.0,15000.0,195000.0,Yes,Accounts,3,6.6,['joseph.spears@yahoo.com'],alabama,USA
696,697,Anthony Barnes,55,90000,45000.0,11250.0,146250.0,No,SDE,5,9.3,['anthony.barnes@gmail.com'],manchester,United Kingdom
711,712,Hannah Forbes,55,120000,60000.0,15000.0,195000.0,No,SDE,5,6.6,['hannah.forbes@gmail.com'],bashkortostan,Russia
715,716,Lauren York,55,120000,60000.0,15000.0,195000.0,No,SDE,7,6.6,['lauren.york@yahoo.com'],indiana,USA
729,730,Kara Murphy,55,90000,45000.0,11250.0,146250.0,No,SDE-T,4,8.0,['kara.murphy@outlook.com'],alabama,USA
741,742,Robert Ball,55,120000,60000.0,15000.0,195000.0,No,Logistics,4,9.3,['robert.ball@outlook.com'],BritishColumbia,Canada
759,760,Charlotte Ramos,55,90000,45000.0,11250.0,146250.0,No,Admin,7,9.3,['charlotte.ramos@yahoo.com'],indiana,USA
772,773,Austin Cook,55,120000,60000.0,15000.0,195000.0,Yes,Logistics,1,7.4,['austin.cook@hotmail.com'],bashkortostan,Russia
889,890,Wendy Norton,55,120000,60000.0,15000.0,195000.0,Yes,Accounts,4,5.7,['wendy.norton@gmail.com'],taxes,USA
922,923,Taylor Garza,55,70000,35000.0,8750.0,113750.0,No,SDE,4,9.3,['taylor.garza@gmail.com'],adygea,Russia
940,941,Karen White,55,96000,48000.0,12000.0,156000.0,No,SDE,6,8.2,['karen.white@yahoo.com'],manchester,United Kingdom
989,990,Karen Lucas,55,80000,40000.0,10000.0,130000.0,No,SDE,7,4.5,['karen.lucas@reddit.com'],chechnya,Russia
990,991,Patrick Lane,55,60000,30000.0,7500.0,97500.0,No,SDE,3,9.3,['patrick.lane@outlook.com'],altai,Russia
991,992,Elizabeth Wheeler,55,120000,60000.0,15000.0,195000.0,No,Logistics,4,8.0,['elizabeth.wheeler@yahoo.com'],indiana,USA

9. What is the name of the most senior employee with respect to working duration?

In [28]:
df.groupby('Duration')['Name'].size()

Duration
1    138
2    143
3    153
4    140
5    153
6    122
7    151
Name: Name, dtype: int64

In [29]:
df['Duration'].max()

7

In [34]:
duration_sr = df.groupby('Duration')['Name'].get_group(df['Duration'].max())
duration_sr

0      Marcia Stephens
9          Steven Lynn
16        Steven Hicks
28       James Wilkins
32         Troy Thomas
            ...
964     Joseph Johnson
973      Rachel Harris
975      Melissa Leach
989        Karen Lucas
998         Cindy Knox
Name: Name, Length: 151, dtype: object

10. What is the salary of the employee whose name is Maria Williams

In [37]:
df['Total Pay benefits'].loc[df['Name']=='Maria Williams']

808    156000.0
Name: Total Pay benefits, dtype: float64

11. What is the salary of the employee whose Virginia Hogan and age is 30

In [38]:
df['Total Pay benefits'].loc[(df['Name']=='Virginia Hogan') & (df['Age']==30)]

406    195000.0
Name: Total Pay benefits, dtype: float64

12. What are the different departments, this organization has?

In [40]:
df['Department'].unique()

array(['SDE', 'SDE-T', 'Admin', 'Logistics', 'Hr', 'Accounts'],
      dtype=object)

13. What are total frequency of the employees with respect to each department?

In [41]:
df['Department'].value_counts()

SDE          497
SDE-T        175
Logistics    158
Accounts      65
Admin         53
Hr            52
Name: Department, dtype: int64

14. What percentage of employee work in SDE deparment

In [43]:
df['Department'].value_counts()/len(df['Department'])*100

SDE          49.7
SDE-T        17.5
Logistics    15.8
Accounts      6.5
Admin         5.3
Hr            5.2
Name: Department, dtype: float64

15. What is the average rating of an employee with respect to each department

In [44]:
df.groupby('Department').Rating.mean()

Department
Accounts     7.750769
Admin        8.060377
Hr           8.150000
Logistics    7.955063
SDE          7.894769
SDE-T        7.652571
Name: Rating, dtype: float64

16. what is the average salary of an employee with respect to each country

In [45]:
df.groupby('Country')['Total Pay benefits'].mean()

Country
Canada            152776.104418
Russia            151662.244898
USA               152999.087591
United Kingdom    154487.068966
Name: Total Pay benefits, dtype: float64

17. What is the average salary of SDE profile with respect to each country

In [87]:
sde = df.groupby(['Department']).get_group('SDE')
sde.groupby('Country')['Total Pay benefits'].mean()

Country
Canada            150953.252033
Russia            150455.882353
USA               151765.151515
United Kingdom    155656.504065
Name: Total Pay benefits, dtype: float64

19. What is the average salary of the employee who take taken the loan

In [83]:
df.groupby('Loan').get_group('Yes')['Total Pay benefits'].mean()

151902.5787965616

In [82]:
df_loan = df.loc[df['Loan']=='Yes']
df_loan['Total Pay benefits'].mean()

151902.5787965616

20. What are the top 5 domain name used in Employee email id's

In [74]:
def domain(x):
    if x:
        if x:= x.split('@')[-1]:
                return x.split('.')[0]

In [75]:
df['domain'] = df['Email'].map(domain)

In [79]:
df['domain'].value_counts().head()

outlook    213
hotmail    205
yahoo      205
gmail      198
reddit     179
Name: domain, dtype: int64